<div class="container">
  <h1>Welcome to Carrot Cake!</h1>
  <p>Hello, flashcards!</p>
  <h1>Signup</h1>
 <form action="/user/create" method="post">

    User name:<br>
    <input type="text" name="username"><br>

    Password:<br>
    <input type="password" name="password"><br>

    Retype Password:<br>
    <input type="password" name="retype_password"><br>

    <input type="submit" value="Make that cake!">
  </form>

   <h1>Login</h1>
 <form action="/user/login" method="post">

    User name:<br>
    <input type="text" name="username"><br>

    Password:<br>
    <input type="password" name="password"><br>

    <input type="submit" value="Eat that cake!">
  </form>


</div>
